.nav_pages > a:nth-child(1){
    opacity: 1; font-size: 28px;
}
.nav_social a:nth-child(1){
    opacity: 1;
    font-size:28px;
}
.main  img{
    display:inline-block;
    vertical-align: top; 
    margin: 20px;
}
.main div{
    width:610px;
    height:365px; 
    display: inline-block;
    border-radius:15px;
    color:white;
    font-size: 16px;
    padding:40px; 
    margin: 20px; 
}

.main h3{ 
    font-size:  24px; 
    margin: 20px 0;
}
.goal{
    background:#4970E7;
}
.technology{
    background: #9CDDBB;
}
.relevance{background:#FD7462;}